[Unit]
Description=ADist Participants Script
After=network.target

[Service]
ExecStart=/var/www/html/autoconnect/scripts/adist_participants.sh
Restart=always
User=www-data
WorkingDirectory=/var/www/html/autoconnect

[Install]
WantedBy=multi-user.target
